---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<section class="mt-4 mb-5">

    
    <div class="container mb-1" href="top">
        <h3 class="font-weight-bold title">Jump to projects with </h3>    
        <div class="row">
        {% include menu-categories.html %}
        </div>
    </div>

                <div class="text-center">
                <a class="btn btn-outline-light" href="https://kapazoglou.info"><i class="fa fa-th-large"></i> View as Gallery </a>
                </div>
                
<div class="container-fluid">
    <div class="card-columns">
    {% for category in site.categories %}
    </div> 
    
    <div id="{{ category[0] | downcase }}">
        <br><br><br>
    </div>

    <h3 class="mt-4 display-4"><small class="text-muted"></small> {{ category[0] }} 
    <a class="btn btn-sm btn-outline-light" href="#top"><i class="fa fa-arrow-up"></i> More Tags </a>
    </h3>
    <hr>
    
    <div class="card-columns">

        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
          {% if post.title != null %}
              {% if group == null or group == post.group %}
                {% include card-post.html %}
              {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    {% endfor %}

    </div>

</div>
    
</section>