<!-- Don't edit anything here, categories are dynamically generated -->

<nav class="container">
    <!--<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="container" id="navbarsExplore">
    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
          <a class="btn btn-indigo" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }} ({{ site.tags[category].size }})</a></li>
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
          <a class="btn btn-indigo" href="{{site.baseurl}}/categories.html#{{ category[0] | downcase }}"> {{ category[0] }} </a></li>
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}
    </div>
</nav>