<!-- Don't edit anything here, categories are dynamically generated -->

<!--<nav>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="btn-toolbar" id="navbarsExplore">
    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
          <a class="btn btn-sm btn-outline-dark category-tag" href="{{ '/categories.html' | relative_url }}#{{ category | slugify }}">{{ category }} ({{ site.tags[category].size }})</a>
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
          <a class="btn btn-sm btn-outline-dark category-tag" href="{{ '/categories.html' | relative_url }}#{{ category[0] | slugify }}">{{ category[0] }}</a>
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}
    </div>
<!--</nav>-->